<!--home page -->
<div class="center jumbotron"> 

<% if user_signed_in? %>
  <h1>Hello Friends, welcome to social world</h1>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> 
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  
<% else %>
  <h1>Welcome to world with Facebook</h1>
  This is the home page for the
  <a href="https://hidden-ocean-29030.herokuapp.com/">Facebook</a>
  <%= link_to "Sign up Now", new_user_registration_path, :class => 'btn btn-lg btn-primary'  %> 
<% end %>
  
