<!--this is footer-->
<footer class="footer">
  <small>
    The <a href="https://hidden-ocean-29030.herokuapp.com/">Facebook</a>
    by <a href="https://github.com/sprakashkumar079/">Prakash</a>
  </small> 
  <nav> 
    <ul>
      <li><%= link_to "About", root_path %></li>
      <li><%= link_to "Contact", root_path %></li> 
    </ul>
  </nav>
</footer>